In [1]:
import numpy as np
import pandas as pd
import sqlalchemy as sa
import pickle, json, requests, base64

## Build a scikit-learn model

In [2]:
from sklearn import datasets

iris = datasets.load_iris()
X = iris.data  
Y = iris.target
# print(iris.DESCR)

In [3]:
from sklearn.svm import SVC
from sklearn.multiclass import OneVsRestClassifier
from sklearn.tree import DecisionTreeClassifier

from sklearn.decomposition import PCA
from sklearn.preprocessing import Imputer, StandardScaler, MinMaxScaler
from sklearn.preprocessing import RobustScaler, MaxAbsScaler

from sklearn.pipeline import Pipeline

imputers = [('imputer', Imputer())]
scalers =  [('std_scaler', StandardScaler()), ('minmax_scaler', MinMaxScaler()),
            ('maxabs_scaler', MaxAbsScaler()), ('robust_scaler', RobustScaler())];
pcas = [('pca_4comps', PCA(n_components = 4))]
estimators = [('dec_tree', DecisionTreeClassifier())]
random_state = np.random.RandomState(0)
clf = Pipeline(imputers + scalers + pcas + estimators)

clf.fit(X, Y)

Pipeline(steps=[('imputer', Imputer(axis=0, copy=True, missing_values='NaN', strategy='mean', verbose=0)), ('std_scaler', StandardScaler(copy=True, with_mean=True, with_std=True)), ('minmax_scaler', MinMaxScaler(copy=True, feature_range=(0, 1))), ('maxabs_scaler', MaxAbsScaler(copy=True)), ('robust_scaler', ...it=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=None, splitter='best'))])

In [4]:
#clf.__dict__

## Generate SQL Code from the Model

In [5]:

def test_ws_sql_gen(pickle_data):
    WS_URL="https://sklearn2sql.herokuapp.com/model"
    b64_data = base64.b64encode(pickle_data)
    data={"Name":"model1", "PickleData":b64_data , "SQLDialect":"postgresql"}
    r = requests.post(WS_URL, json=data)
    content = r.json()
    # print(content)
    lSQL = content["model"]["SQLGenrationResult"][0]["SQL"]
    return lSQL;

In [6]:
pickle_data = pickle.dumps(clf)
lSQL = test_ws_sql_gen(pickle_data)
print(lSQL[0:12000])

WITH "ADS_imp_1_OUT" AS
(SELECT "ADS"."KEY" AS "KEY", CASE WHEN ("ADS"."Feature_0" IS NULL) THEN 5.84333333333 ELSE "ADS"."Feature_0" END AS imputer_output_2, CASE WHEN ("ADS"."Feature_1" IS NULL) THEN 3.054 ELSE "ADS"."Feature_1" END AS imputer_output_3, CASE WHEN ("ADS"."Feature_2" IS NULL) THEN 3.75866666667 ELSE "ADS"."Feature_2" END AS imputer_output_4, CASE WHEN ("ADS"."Feature_3" IS NULL) THEN 1.19866666667 ELSE "ADS"."Feature_3" END AS imputer_output_5
FROM "INPUT_DATA" AS "ADS"),
"ADS_std_2_OUT" AS
(SELECT "ADS_imp_1_OUT"."KEY" AS "KEY", (CAST("ADS_imp_1_OUT".imputer_output_2 AS FLOAT) - 5.84333333333) / 0.825301291785 AS std_scaler_output_2, (CAST("ADS_imp_1_OUT".imputer_output_3 AS FLOAT) - 3.054) / 0.432146580071 AS std_scaler_output_3, (CAST("ADS_imp_1_OUT".imputer_output_4 AS FLOAT) - 3.75866666667) / 1.75852918341 AS std_scaler_output_4, (CAST("ADS_imp_1_OUT".imputer_output_5 AS FLOAT) - 1.19866666667) / 0.760612618588 AS std_scaler_output_5
FROM "ADS_imp_1_OUT"),
"ADS_min_3_OUT" AS
(SELECT "ADS_std_2_OUT"."KEY" AS "KEY", CAST("ADS_std_2_OUT".std_scaler_output_2 AS FLOAT) * 0.229250358829 + 0.428703703704 AS minmax_scaler_output_2, CAST("ADS_std_2_OUT".std_scaler_output_3 AS FLOAT) * 0.180061075029 + 0.439166666667 AS minmax_scaler_output_3, CAST("ADS_std_2_OUT".std_scaler_output_4 AS FLOAT) * 0.298055793798 + 0.467570621469 AS minmax_scaler_output_4, CAST("ADS_std_2_OUT".std_scaler_output_5 AS FLOAT) * 0.316921924412 + 0.457777777778 AS minmax_scaler_output_5
FROM "ADS_std_2_OUT"),
"ADS_max_4_OUT" AS
(SELECT "ADS_min_3_OUT"."KEY" AS "KEY", CAST("ADS_min_3_OUT".minmax_scaler_output_2 AS FLOAT) / 1.0 AS maxabs_scaler_output_2, CAST("ADS_min_3_OUT".minmax_scaler_output_3 AS FLOAT) / 1.0 AS maxabs_scaler_output_3, CAST("ADS_min_3_OUT".minmax_scaler_output_4 AS FLOAT) / 1.0 AS maxabs_scaler_output_4, CAST("ADS_min_3_OUT".minmax_scaler_output_5 AS FLOAT) / 1.0 AS maxabs_scaler_output_5
FROM "ADS_min_3_OUT"),
"ADS_rob_5_OUT" AS
(SELECT "ADS_max_4_OUT"."KEY" AS "KEY", (CAST("ADS_max_4_OUT".maxabs_scaler_output_2 AS FLOAT) - 0.416666666667) / 0.361111111111 AS robust_scaler_output_2, (CAST("ADS_max_4_OUT".maxabs_scaler_output_3 AS FLOAT) - 0.416666666667) / 0.208333333333 AS robust_scaler_output_3, (CAST("ADS_max_4_OUT".maxabs_scaler_output_4 AS FLOAT) - 0.567796610169) / 0.593220338983 AS robust_scaler_output_4, (CAST("ADS_max_4_OUT".maxabs_scaler_output_5 AS FLOAT) - 0.5) / 0.625 AS robust_scaler_output_5
FROM "ADS_max_4_OUT"),
"CenteredDataForPCA" AS
(SELECT "ADS_rob_5_OUT"."KEY" AS "KEY", CAST("ADS_rob_5_OUT".robust_scaler_output_2 AS FLOAT) - 0.0333333333333 AS robust_scaler_output_2, CAST("ADS_rob_5_OUT".robust_scaler_output_3 AS FLOAT) - 0.108 AS robust_scaler_output_3, CAST("ADS_rob_5_OUT".robust_scaler_output_4 AS FLOAT) - -0.168952380952 AS robust_scaler_output_4, CAST("ADS_rob_5_OUT".robust_scaler_output_5 AS FLOAT) - -0.0675555555556 AS robust_scaler_output_5
FROM "ADS_rob_5_OUT"),
"ADS_pca_6_OUT" AS
(SELECT "CenteredDataForPCA"."KEY" AS "KEY", "CenteredDataForPCA".robust_scaler_output_2 * -0.447657317765 + "CenteredDataForPCA".robust_scaler_output_3 * 0.64147212658 + "CenteredDataForPCA".robust_scaler_output_4 * -0.450983672283 + "CenteredDataForPCA".robust_scaler_output_5 * -0.429802470918 AS pca_4comps_output_2, "CenteredDataForPCA".robust_scaler_output_2 * 0.548644834048 + "CenteredDataForPCA".robust_scaler_output_3 * 0.746908939088 + "CenteredDataForPCA".robust_scaler_output_4 * 0.254203875701 + "CenteredDataForPCA".robust_scaler_output_5 * 0.276579594985 AS pca_4comps_output_3, "CenteredDataForPCA".robust_scaler_output_2 * -0.676170469726 + "CenteredDataForPCA".robust_scaler_output_3 * 0.159989073346 + "CenteredDataForPCA".robust_scaler_output_4 * 0.259558177741 + "CenteredDataForPCA".robust_scaler_output_5 * 0.670691094803 AS pca_4comps_output_4, "CenteredDataForPCA".robust_scaler_output_2 * -0.203433693853 + "CenteredDataForPCA".robust_scaler_output_3 * 0.0710214329801 + "CenteredDataForPCA".robust_scaler_output_4 * 0.815244545692 + "CenteredDataForPCA".robust_scaler_output_5 * -0.537537923297 AS pca_4comps_output_5
FROM "CenteredDataForPCA"),
"DT_node_lookup" AS
(SELECT "ADS_pca_6_OUT"."KEY" AS "KEY", CASE WHEN ("ADS_pca_6_OUT".pca_4comps_output_2 <= 0.005520036444067955) THEN CASE WHEN ("ADS_pca_6_OUT".pca_4comps_output_3 <= 0.1443094164133072) THEN CASE WHEN ("ADS_pca_6_OUT".pca_4comps_output_2 <= -0.6178238987922668) THEN CASE WHEN ("ADS_pca_6_OUT".pca_4comps_output_3 <= -0.7592496871948242) THEN CASE WHEN ("ADS_pca_6_OUT".pca_4comps_output_5 <= 0.02684693969786167) THEN 5 ELSE 6 END ELSE CASE WHEN ("ADS_pca_6_OUT".pca_4comps_output_4 <= -0.14000669121742249) THEN CASE WHEN ("ADS_pca_6_OUT".pca_4comps_output_5 <= 0.027473486959934235) THEN 9 ELSE 10 END ELSE CASE WHEN ("ADS_pca_6_OUT".pca_4comps_output_5 <= 0.055706918239593506) THEN 12 ELSE CASE WHEN ("ADS_pca_6_OUT".pca_4comps_output_5 <= 0.09535892307758331) THEN 14 ELSE 15 END END END END ELSE 16 END ELSE CASE WHEN ("ADS_pca_6_OUT".pca_4comps_output_2 <= -0.679976761341095) THEN 18 ELSE CASE WHEN ("ADS_pca_6_OUT".pca_4comps_output_4 <= 0.10681615769863129) THEN CASE WHEN ("ADS_pca_6_OUT".pca_4comps_output_5 <= 0.0755576342344284) THEN 21 ELSE 22 END ELSE CASE WHEN ("ADS_pca_6_OUT".pca_4comps_output_2 <= -0.17233264446258545) THEN 24 ELSE 25 END END END END ELSE CASE WHEN ("ADS_pca_6_OUT".pca_4comps_output_4 <= 0.22216105461120605) THEN 27 ELSE 28 END END AS node_id_2
FROM "ADS_pca_6_OUT"),
"DT_node_data" AS
(SELECT "Values".node_id AS node_id, "Values".feature AS feature, "Values".threshold AS threshold, "Values".count AS count, "Values".depth AS depth, "Values".parent_id AS parent_id, "Values"."Proba_0" AS "Proba_0", "Values"."LogProba_0" AS "LogProba_0", "Values"."Proba_1" AS "Proba_1", "Values"."LogProba_1" AS "LogProba_1", "Values"."Proba_2" AS "Proba_2", "Values"."LogProba_2" AS "LogProba_2", "Values"."Decision" AS "Decision", "Values"."DecisionProba" AS "DecisionProba"
FROM (SELECT 0 AS node_id, 'pca_4comps_output_2' AS feature, 0.005520036444067955 AS threshold, 150 AS count, 0 AS depth, CAST(NULL AS INTEGER) AS parent_id, 0.3333333333333333 AS "Proba_0", -1.09861228867 AS "LogProba_0", 0.3333333333333333 AS "Proba_1", -1.09861228867 AS "LogProba_1", 0.3333333333333333 AS "Proba_2", -1.09861228867 AS "LogProba_2", 0 AS "Decision", 0.333333333333 AS "DecisionProba" UNION ALL SELECT 1 AS node_id, 'pca_4comps_output_3' AS feature, 0.1443094164133072 AS threshold, 99 AS count, 1 AS depth, 0 AS parent_id, 0.0 AS "Proba_0", -1.79769313486231e+308 AS "LogProba_0", 0.494949494949495 AS "Proba_1", -0.703299552024 AS "LogProba_1", 0.5050505050505051 AS "Proba_2", -0.683096844706 AS "LogProba_2", 2 AS "Decision", 0.505050505051 AS "DecisionProba" UNION ALL SELECT 2 AS node_id, 'pca_4comps_output_2' AS feature, -0.6178238987922668 AS threshold, 53 AS count, 2 AS depth, 1 AS parent_id, 0.0 AS "Proba_0", -1.79769313486231e+308 AS "LogProba_0", 0.7358490566037735 AS "Proba_1", -0.306730267422 AS "LogProba_1", 0.2641509433962264 AS "Proba_2", -1.33123458394 AS "LogProba_2", 1 AS "Decision", 0.735849056604 AS "DecisionProba" UNION ALL SELECT 3 AS node_id, 'pca_4comps_output_3' AS feature, -0.7592496871948242 AS threshold, 26 AS count, 3 AS depth, 2 AS parent_id, 0.0 AS "Proba_0", -1.79769313486231e+308 AS "LogProba_0", 0.46153846153846156 AS "Proba_1", -0.773189888233 AS "LogProba_1", 0.5384615384615384 AS "Proba_2", -0.619039208406 AS "LogProba_2", 2 AS "Decision", 0.538461538462 AS "DecisionProba" UNION ALL SELECT 4 AS node_id, 'pca_4comps_output_5' AS feature, 0.02684693969786167 AS threshold, 10 AS count, 4 AS depth, 3 AS parent_id, 0.0 AS "Proba_0", -1.79769313486231e+308 AS "LogProba_0", 0.8 AS "Proba_1", -0.223143551314 AS "LogProba_1", 0.2 AS "Proba_2", -1.60943791243 AS "LogProba_2", 1 AS "Decision", 0.8 AS "DecisionProba" UNION ALL SELECT 5 AS node_id, CAST(NULL AS VARCHAR(256)) AS feature, CAST(NULL AS FLOAT) AS threshold, 8 AS count, 5 AS depth, 4 AS parent_id, 0.0 AS "Proba_0", -1.79769313486231e+308 AS "LogProba_0", 1.0 AS "Proba_1", 0.0 AS "LogProba_1", 0.0 AS "Proba_2", -1.79769313486231e+308 AS "LogProba_2", 1 AS "Decision", 1.0 AS "DecisionProba" UNION ALL SELECT 6 AS node_id, CAST(NULL AS VARCHAR(256)) AS feature, CAST(NULL AS FLOAT) AS threshold, 2 AS count, 5 AS depth, 4 AS parent_id, 0.0 AS "Proba_0", -1.79769313486231e+308 AS "LogProba_0", 0.0 AS "Proba_1", -1.79769313486231e+308 AS "LogProba_1", 1.0 AS "Proba_2", 0.0 AS "LogProba_2", 2 AS "Decision", 1.0 AS "DecisionProba" UNION ALL SELECT 7 AS node_id, 'pca_4comps_output_4' AS feature, -0.14000669121742249 AS threshold, 16 AS count, 4 AS depth, 3 AS parent_id, 0.0 AS "Proba_0", -1.79769313486231e+308 AS "LogProba_0", 0.25 AS "Proba_1", -1.38629436112 AS "LogProba_1", 0.75 AS "Proba_2", -0.287682072452 AS "LogProba_2", 2 AS "Decision", 0.75 AS "DecisionProba" UNION ALL SELECT 8 AS node_id, 'pca_4comps_output_5' AS feature, 0.027473486959934235 AS threshold, 4 AS count, 5 AS depth, 7 AS parent_id, 0.0 AS "Proba_0", -1.79769313486231e+308 AS "LogProba_0", 0.75 AS "Proba_1", -0.287682072452 AS "LogProba_1", 0.25 AS "Proba_2", -1.38629436112 AS "LogProba_2", 1 AS "Decision", 0.75 AS "DecisionProba" UNION ALL SELECT 9 AS node_id, CAST(NULL AS VARCHAR(256)) AS feature, CAST(NULL AS FLOAT) AS threshold, 3 AS count, 6 AS depth, 8 AS parent_id, 0.0 AS "Proba_0", -1.79769313486231e+308 AS "LogProba_0", 1.0 AS "Proba_1", 0.0 AS "LogProba_1", 0.0 AS "Proba_2", -1.79769313486231e+308 AS "LogProba_2", 1 AS "Decision", 1.0 AS "DecisionProba" UNION ALL SELECT 10 AS node_id, CAST(NULL AS VARCHAR(256)) AS feature, CAST(NULL AS FLOAT) AS threshold, 1 AS count, 6 AS depth, 8 AS parent_id, 0.0 AS "Proba_0", -1.79769313486231e+308 AS "LogProba_0", 0.0 AS "Proba_1", -1.79769313486231e+308 AS "LogProba_1", 1.0 AS "Proba_2", 0.0 AS "LogProba_2", 2 AS "Decision", 1.0 AS "DecisionProba" UNION ALL SELECT 11 AS node_id, 'pca_4comps_output_5' AS feature, 0.055706918239593506 AS threshold, 12 AS count, 5 AS depth, 7 AS parent_id, 0.0 AS "Proba_0", -1.79769313486231e+308 AS "LogProba_0", 0.08333333333333333 AS "Proba_1", -2.48490664979 AS "LogProba_1", 0.9166666666666666 AS "Proba_2", -0.0870113769896 AS "LogProba_2", 2 AS "Decision", 0.916666666667 AS "DecisionProba" UNION ALL SELECT 12 AS node_id, CAST(NULL AS VARCHAR(256)) AS feature, CAST(NULL AS FLOAT) AS threshold, 9 AS count, 6 AS depth, 11 AS parent_id, 0.0 AS "Proba_0", -1.79769313486231e+308 AS "LogProba_0", 0.0 AS "Proba_1", -1.79769313486231e+308 AS "LogProba_1", 1.0 AS "Proba_2", 0.0 AS "LogProba_2", 2 AS "Decision", 1.0 AS "DecisionProba" UNION ALL SELECT 13 AS node_id, 'pca_4comps_output_5' AS feature, 0.09535892307758331 AS threshold, 3 AS count, 6 AS depth, 11 AS parent_id, 0.0 AS "Proba_0", -1.79769313486231e+308 AS "LogProba_0", 0.3333333333333333 AS "Proba_1", -1.09861228867 AS "LogProba_1", 0.6666666666666666 AS "Proba_2", -0.405465108108 AS "LogProba_2", 2 AS "Decision", 0.666666666667 AS "DecisionProba" UNION ALL SELECT 14 AS node_id, CAST(NULL AS VARCHAR(256)) AS feature, CAST(NULL AS FLOAT) AS threshold, 1 AS count, 7 AS depth, 13 AS parent_id, 0.0 AS "Proba_0", -1.79769313486231e+308 AS "LogProba_0", 1.0 AS "Proba_1", 0.0 AS "LogProba_1", 0.0 AS "Proba_2", -1.79769313486231e+308 AS "LogProba_2", 1 AS "Decision", 1.0 AS "DecisionProba" UNION ALL SELECT 15 AS node_id, CAST(NULL AS VARCHAR(256)) AS feature, CAST(NULL AS FLOAT) AS threshold, 2 AS count, 7 AS depth, 13 AS parent_id, 0.0 AS "Proba_0", -1.79769313486231e+308 AS "LogProba_0", 0.0 AS "Proba_1", -1.79769313486231e+308 AS "LogProba_1", 1.0 AS "Proba_2", 0.0 AS "LogProba_2", 2 AS "Decision", 1.0 AS "DecisionProba" UNION ALL SELECT 16 AS node_id, CAST(NULL AS VARCHAR(256)) AS feature, CAST(NULL AS FLOAT) AS threshold, 27 AS count, 3 AS depth, 2 AS parent_id, 0.0 AS "Proba_0", -1.79769313486231e+308 AS "LogProba_0", 1.0 AS "Proba_1", 0.0 AS "LogProba_1", 0.0 AS "Proba_2", -1.79769313486231e+308 AS "

## Execute the SQL Code

In [7]:
# save the dataset in a database table

#engine = sa.create_engine('sqlite://' , echo=False)
engine = sa.create_engine("postgresql://db:db@localhost/db?port=5432", echo=False)
conn = engine.connect()

lTable = pd.DataFrame(X);
lTable.columns = ['Feature_0', 'Feature_1', 'Feature_2', 'Feature_3']
lTable['KEY'] = range(lTable.shape[0])
lTable.to_sql("INPUT_DATA" , conn,   if_exists='replace', index=False)

In [8]:
sql_output = pd.read_sql(lSQL , conn);
sql_output = sql_output.sort_values(by='KEY').reset_index(drop=True)
conn.close()

In [9]:
sql_output.sample(12, random_state=1960)

,KEY,Score_0,Score_1,Score_2,Proba_0,Proba_1,Proba_2,LogProba_0,LogProba_1,LogProba_2,Decision,DecisionProba
114,114,None,None,None,0.0,0.0,1.0,-1.797693e+308,-1.797693e+308,0.000000e+00,2,1.0
74,74,None,None,None,0.0,1.0,0.0,-1.797693e+308,0.000000e+00,-1.797693e+308,1,1.0
9,9,None,None,None,1.0,0.0,0.0,0.000000e+00,-1.797693e+308,-1.797693e+308,0,1.0
88,88,None,None,None,0.0,1.0,0.0,-1.797693e+308,0.000000e+00,-1.797693e+308,1,1.0
25,25,None,None,None,1.0,0.0,0.0,0.000000e+00,-1.797693e+308,-1.797693e+308,0,1.0
5,5,None,None,None,1.0,0.0,0.0,0.000000e+00,-1.797693e+308,-1.797693e+308,0,1.0
48,48,None,None,None,1.0,0.0,0.0,0.000000e+00,-1.797693e+308,-1.797693e+308,0,1.0
117,117,None,None,None,0.0,0.0,1.0,-1.797693e+308,-1.797693e+308,0.000000e+00,2,1.0
83,83,None,None,None,0.0,1.0,0.0,-1.797693e+308,0.000000e+00,-1.797693e+308,1,1.0
105,105,None,None,None,0.0,0.0,1.0,-1.797693e+308,-1.797693e+308,0.000000e+00,2,1.0
27,27,None,None,None,1.0,0.0,0.0,0.000000e+00,-1.797693e+308,-1.797693e+308,0,1.0
64,64,None,None,None,0.0,1.0,0.0,-1.797693e+308,0.000000e+00,-1.797693e+308,1,1.0

In [10]:
sql_output.Decision.value_counts()

2    50
1    50
0    50
Name: Decision, dtype: int64

## Scikit-learn Prediction

In [11]:
skl_outputs = pd.DataFrame()
skl_output_key = pd.DataFrame(list(range(X.shape[0])), columns=['KEY']);
skl_output_score = pd.DataFrame(columns=['Score_0', 'Score_1', 'Score_2']);
skl_output_proba = pd.DataFrame(clf.predict_proba(X), columns=['Proba_0', 'Proba_1', 'Proba_2'])
skl_output_log_proba = pd.DataFrame(clf.predict_log_proba(X), columns=['LogProba_0', 'LogProba_1', 'LogProba_2'])
skl_output_decision = pd.DataFrame(clf.predict(X), columns=['Decision'])
skl_output = pd.concat([skl_output_key, skl_output_score, skl_output_proba, skl_output_log_proba, skl_output_decision] , axis=1)
skl_output.sample(12, random_state=1960)

/usr/local/lib/python3.5/dist-packages/sklearn/tree/tree.py:810: RuntimeWarning: divide by zero encountered in log
  return np.log(proba)

,KEY,Score_0,Score_1,Score_2,Proba_0,Proba_1,Proba_2,LogProba_0,LogProba_1,LogProba_2,Decision
114,114,NaN,NaN,NaN,0.0,0.0,1.0,-inf,-inf,0.000000,2
74,74,NaN,NaN,NaN,0.0,1.0,0.0,-inf,0.000000,-inf,1
9,9,NaN,NaN,NaN,1.0,0.0,0.0,0.000000,-inf,-inf,0
88,88,NaN,NaN,NaN,0.0,1.0,0.0,-inf,0.000000,-inf,1
25,25,NaN,NaN,NaN,1.0,0.0,0.0,0.000000,-inf,-inf,0
5,5,NaN,NaN,NaN,1.0,0.0,0.0,0.000000,-inf,-inf,0
48,48,NaN,NaN,NaN,1.0,0.0,0.0,0.000000,-inf,-inf,0
117,117,NaN,NaN,NaN,0.0,0.0,1.0,-inf,-inf,0.000000,2
83,83,NaN,NaN,NaN,0.0,1.0,0.0,-inf,0.000000,-inf,1
105,105,NaN,NaN,NaN,0.0,0.0,1.0,-inf,-inf,0.000000,2
27,27,NaN,NaN,NaN,1.0,0.0,0.0,0.000000,-inf,-inf,0
64,64,NaN,NaN,NaN,0.0,1.0,0.0,-inf,0.000000,-inf,1

## Comparing the SQL and Scikit-learn Predictions

In [12]:
sql_skl_join = skl_output.join(sql_output , how='left', on='KEY', lsuffix='_skl', rsuffix='_sql')

In [13]:
sql_skl_join.sample(12, random_state=1960)

,KEY_skl,Score_0_skl,Score_1_skl,Score_2_skl,Proba_0_skl,Proba_1_skl,Proba_2_skl,LogProba_0_skl,LogProba_1_skl,LogProba_2_skl,...,Score_1_sql,Score_2_sql,Proba_0_sql,Proba_1_sql,Proba_2_sql,LogProba_0_sql,LogProba_1_sql,LogProba_2_sql,Decision_sql,DecisionProba
114,114,NaN,NaN,NaN,0.0,0.0,1.0,-inf,-inf,0.000000,...,None,None,0.0,0.0,1.0,-1.797693e+308,-1.797693e+308,0.000000e+00,2,1.0
74,74,NaN,NaN,NaN,0.0,1.0,0.0,-inf,0.000000,-inf,...,None,None,0.0,1.0,0.0,-1.797693e+308,0.000000e+00,-1.797693e+308,1,1.0
9,9,NaN,NaN,NaN,1.0,0.0,0.0,0.000000,-inf,-inf,...,None,None,1.0,0.0,0.0,0.000000e+00,-1.797693e+308,-1.797693e+308,0,1.0
88,88,NaN,NaN,NaN,0.0,1.0,0.0,-inf,0.000000,-inf,...,None,None,0.0,1.0,0.0,-1.797693e+308,0.000000e+00,-1.797693e+308,1,1.0
25,25,NaN,NaN,NaN,1.0,0.0,0.0,0.000000,-inf,-inf,...,None,None,1.0,0.0,0.0,0.000000e+00,-1.797693e+308,-1.797693e+308,0,1.0
5,5,NaN,NaN,NaN,1.0,0.0,0.0,0.000000,-inf,-inf,...,None,None,1.0,0.0,0.0,0.000000e+00,-1.797693e+308,-1.797693e+308,0,1.0
48,48,NaN,NaN,NaN,1.0,0.0,0.0,0.000000,-inf,-inf,...,None,None,1.0,0.0,0.0,0.000000e+00,-1.797693e+308,-1.797693e+308,0,1.0
117,117,NaN,NaN,NaN,0.0,0.0,1.0,-inf,-inf,0.000000,...,None,None,0.0,0.0,1.0,-1.797693e+308,-1.797693e+308,0.000000e+00,2,1.0
83,83,NaN,NaN,NaN,0.0,1.0,0.0,-inf,0.000000,-inf,...,None,None,0.0,1.0,0.0,-1.797693e+308,0.000000e+00,-1.797693e+308,1,1.0
105,105,NaN,NaN,NaN,0.0,0.0,1.0,-inf,-inf,0.000000,...,None,None,0.0,0.0,1.0,-1.797693e+308,-1.797693e+308,0.000000e+00,2,1.0
27,27,NaN,NaN,NaN,1.0,0.0,0.0,0.000000,-inf,-inf,...,None,None,1.0,0.0,0.0,0.000000e+00,-1.797693e+308,-1.797693e+308,0,1.0
64,64,NaN,NaN,NaN,0.0,1.0,0.0,-inf,0.000000,-inf,...,None,None,0.0,1.0,0.0,-1.797693e+308,0.000000e+00,-1.797693e+308,1,1.0

In [14]:
condition = (sql_skl_join.Decision_sql != sql_skl_join.Decision_skl)
sql_skl_join[condition]

Empty DataFrame
Columns: [KEY_skl, Score_0_skl, Score_1_skl, Score_2_skl, Proba_0_skl, Proba_1_skl, Proba_2_skl, LogProba_0_skl, LogProba_1_skl, LogProba_2_skl, Decision_skl, KEY_sql, Score_0_sql, Score_1_sql, Score_2_sql, Proba_0_sql, Proba_1_sql, Proba_2_sql, LogProba_0_sql, LogProba_1_sql, LogProba_2_sql, Decision_sql, DecisionProba]
Index: []

[0 rows x 23 columns]