In [1]:
import numpy as np
import pandas as pd
import sqlalchemy as sa
import pickle, json, requests, base64

## Build a scikit-learn model

In [2]:
from sklearn import datasets

iris = datasets.load_iris()
X = iris.data  
Y = iris.target
# print(iris.DESCR)

In [3]:
from sklearn.svm import SVC
from sklearn.multiclass import OneVsRestClassifier
from sklearn.tree import DecisionTreeClassifier

from sklearn.decomposition import PCA
from sklearn.preprocessing import Imputer, StandardScaler, MinMaxScaler
from sklearn.preprocessing import RobustScaler, MaxAbsScaler

from sklearn.pipeline import Pipeline
from sklearn.ensemble import GradientBoostingClassifier

imputers = [('imputer', Imputer())]
scalers =  [('std_scaler', StandardScaler()), ('minmax_scaler', MinMaxScaler()),
            ('maxabs_scaler', MaxAbsScaler()), ('robust_scaler', RobustScaler())];
pcas = [('pca_4comps', PCA(n_components = 4))]
estimators = [('booster', GradientBoostingClassifier())]
random_state = np.random.RandomState(0)
clf = Pipeline(imputers + scalers + pcas + estimators)

clf.fit(X, Y)

Pipeline(steps=[('imputer', Imputer(axis=0, copy=True, missing_values='NaN', strategy='mean', verbose=0)), ('std_scaler', StandardScaler(copy=True, with_mean=True, with_std=True)), ('minmax_scaler', MinMaxScaler(copy=True, feature_range=(0, 1))), ('maxabs_scaler', MaxAbsScaler(copy=True)), ('robust_scaler', ...=100, presort='auto', random_state=None,
              subsample=1.0, verbose=0, warm_start=False))])

In [4]:
#clf.__dict__

## Generate SQL Code from the Model

In [5]:

def test_ws_sql_gen(pickle_data):
    WS_URL="http://192.168.88.88:1888/model" # "https://sklearn2sql.herokuapp.com/"
    b64_data = base64.b64encode(pickle_data)
    data={"Name":"model1", "PickleData":b64_data , "SQLDialect":"postgresql"}
    r = requests.post(WS_URL, json=data)
    content = r.json()
    # print(content)
    lSQL = content["model"]["SQLGenrationResult"][0]["SQL"]
    return lSQL;

In [6]:
pickle_data = pickle.dumps(clf)
lSQL = test_ws_sql_gen(pickle_data)
print(lSQL[0:120000])

WITH "ADS_imp_1_OUT" AS
(SELECT "ADS"."KEY" AS "KEY", CASE WHEN ("ADS"."Feature_0" IS NULL) THEN 5.84333333333 ELSE "ADS"."Feature_0" END AS imputer_output_2, CASE WHEN ("ADS"."Feature_1" IS NULL) THEN 3.054 ELSE "ADS"."Feature_1" END AS imputer_output_3, CASE WHEN ("ADS"."Feature_2" IS NULL) THEN 3.75866666667 ELSE "ADS"."Feature_2" END AS imputer_output_4, CASE WHEN ("ADS"."Feature_3" IS NULL) THEN 1.19866666667 ELSE "ADS"."Feature_3" END AS imputer_output_5
FROM "INPUT_DATA" AS "ADS"),
"ADS_std_2_OUT" AS
(SELECT "ADS_imp_1_OUT"."KEY" AS "KEY", (CAST("ADS_imp_1_OUT".imputer_output_2 AS FLOAT) - 5.84333333333) / 0.825301291785 AS std_scaler_output_2, (CAST("ADS_imp_1_OUT".imputer_output_3 AS FLOAT) - 3.054) / 0.432146580071 AS std_scaler_output_3, (CAST("ADS_imp_1_OUT".imputer_output_4 AS FLOAT) - 3.75866666667) / 1.75852918341 AS std_scaler_output_4, (CAST("ADS_imp_1_OUT".imputer_output_5 AS FLOAT) - 1.19866666667) / 0.760612618588 AS std_scaler_output_5
FROM "ADS_imp_1_OUT"),
"ADS_min_3_OUT" AS
(SELECT "ADS_std_2_OUT"."KEY" AS "KEY", "ADS_std_2_OUT".std_scaler_output_2 * 0.229250358829 + 0.428703703704 AS minmax_scaler_output_2, "ADS_std_2_OUT".std_scaler_output_3 * 0.180061075029 + 0.439166666667 AS minmax_scaler_output_3, "ADS_std_2_OUT".std_scaler_output_4 * 0.298055793798 + 0.467570621469 AS minmax_scaler_output_4, "ADS_std_2_OUT".std_scaler_output_5 * 0.316921924412 + 0.457777777778 AS minmax_scaler_output_5
FROM "ADS_std_2_OUT"),
"ADS_max_4_OUT" AS
(SELECT "ADS_min_3_OUT"."KEY" AS "KEY", CAST("ADS_min_3_OUT".minmax_scaler_output_2 AS FLOAT) / 1.0 AS maxabs_scaler_output_2, CAST("ADS_min_3_OUT".minmax_scaler_output_3 AS FLOAT) / 1.0 AS maxabs_scaler_output_3, CAST("ADS_min_3_OUT".minmax_scaler_output_4 AS FLOAT) / 1.0 AS maxabs_scaler_output_4, CAST("ADS_min_3_OUT".minmax_scaler_output_5 AS FLOAT) / 1.0 AS maxabs_scaler_output_5
FROM "ADS_min_3_OUT"),
"ADS_rob_5_OUT" AS
(SELECT "ADS_max_4_OUT"."KEY" AS "KEY", (CAST("ADS_max_4_OUT".maxabs_scaler_output_2 AS FLOAT) - 0.416666666667) / 0.361111111111 AS robust_scaler_output_2, (CAST("ADS_max_4_OUT".maxabs_scaler_output_3 AS FLOAT) - 0.416666666667) / 0.208333333333 AS robust_scaler_output_3, (CAST("ADS_max_4_OUT".maxabs_scaler_output_4 AS FLOAT) - 0.567796610169) / 0.593220338983 AS robust_scaler_output_4, (CAST("ADS_max_4_OUT".maxabs_scaler_output_5 AS FLOAT) - 0.5) / 0.625 AS robust_scaler_output_5
FROM "ADS_max_4_OUT"),
"CenteredDataForPCA" AS
(SELECT "ADS_rob_5_OUT"."KEY" AS "KEY", "ADS_rob_5_OUT".robust_scaler_output_2 - 0.0333333333333 AS robust_scaler_output_2, "ADS_rob_5_OUT".robust_scaler_output_3 - 0.108 AS robust_scaler_output_3, "ADS_rob_5_OUT".robust_scaler_output_4 - -0.168952380952 AS robust_scaler_output_4, "ADS_rob_5_OUT".robust_scaler_output_5 - -0.0675555555556 AS robust_scaler_output_5
FROM "ADS_rob_5_OUT"),
"ADS_pca_6_OUT" AS
(SELECT "CenteredDataForPCA"."KEY" AS "KEY", "CenteredDataForPCA".robust_scaler_output_2 * -0.447657317765 + "CenteredDataForPCA".robust_scaler_output_3 * 0.64147212658 + "CenteredDataForPCA".robust_scaler_output_4 * -0.450983672283 + "CenteredDataForPCA".robust_scaler_output_5 * -0.429802470918 AS pca_4comps_output_2, "CenteredDataForPCA".robust_scaler_output_2 * 0.548644834048 + "CenteredDataForPCA".robust_scaler_output_3 * 0.746908939088 + "CenteredDataForPCA".robust_scaler_output_4 * 0.254203875701 + "CenteredDataForPCA".robust_scaler_output_5 * 0.276579594985 AS pca_4comps_output_3, "CenteredDataForPCA".robust_scaler_output_2 * -0.676170469726 + "CenteredDataForPCA".robust_scaler_output_3 * 0.159989073346 + "CenteredDataForPCA".robust_scaler_output_4 * 0.259558177741 + "CenteredDataForPCA".robust_scaler_output_5 * 0.670691094803 AS pca_4comps_output_4, "CenteredDataForPCA".robust_scaler_output_2 * -0.203433693853 + "CenteredDataForPCA".robust_scaler_output_3 * 0.0710214329801 + "CenteredDataForPCA".robust_scaler_output_4 * 0.815244545692 + "CenteredDataForPCA".robust_scaler_output_5 * -0.537537923297 AS pca_4comps_output_5
FROM "CenteredDataForPCA"),
"DT_node_lookup" AS
(SELECT "ADS_pca_6_OUT"."KEY" AS "KEY", CASE WHEN ("ADS_pca_6_OUT".pca_4comps_output_2 <= 0.005520036444067955) THEN 1 ELSE CASE WHEN ("ADS_pca_6_OUT".pca_4comps_output_4 <= 0.22216105461120605) THEN 3 ELSE 4 END END AS node_id_2
FROM "ADS_pca_6_OUT"),
"DT_node_data" AS
(SELECT "Values".node_id AS node_id, "Values".feature AS feature, "Values".threshold AS threshold, "Values".count AS count, "Values".depth AS depth, "Values".parent_id AS parent_id, "Values"."Estimator" AS "Estimator"
FROM (SELECT 0 AS node_id, 'pca_4comps_output_2' AS feature, 0.005520036444067955 AS threshold, 150 AS count, 0 AS depth, CAST(NULL AS INTEGER) AS parent_id, 3.515706244646329e-16 AS "Estimator" UNION ALL SELECT 1 AS node_id, CAST(NULL AS VARCHAR(256)) AS feature, CAST(NULL AS FLOAT) AS threshold, 99 AS count, 1 AS depth, CAST(NULL AS INTEGER) AS parent_id, -1.0 AS "Estimator" UNION ALL SELECT 2 AS node_id, 'pca_4comps_output_4' AS feature, 0.22216105461120605 AS threshold, 51 AS count, 1 AS depth, CAST(NULL AS INTEGER) AS parent_id, 0.6470588235294121 AS "Estimator" UNION ALL SELECT 3 AS node_id, CAST(NULL AS VARCHAR(256)) AS feature, CAST(NULL AS FLOAT) AS threshold, 50 AS count, 2 AS depth, CAST(NULL AS INTEGER) AS parent_id, 2.0 AS "Estimator" UNION ALL SELECT 4 AS node_id, CAST(NULL AS VARCHAR(256)) AS feature, CAST(NULL AS FLOAT) AS threshold, 1 AS count, 2 AS depth, CAST(NULL AS INTEGER) AS parent_id, -0.9999999999999999 AS "Estimator") AS "Values"),
"DT_Output" AS
(SELECT "DT_node_lookup"."KEY" AS "KEY", "DT_node_lookup".node_id_2 AS node_id_2, "DT_node_data".node_id AS node_id, "DT_node_data".feature AS feature, "DT_node_data".threshold AS threshold, "DT_node_data".count AS count, "DT_node_data".depth AS depth, "DT_node_data".parent_id AS parent_id, "DT_node_data"."Estimator" AS "Estimator"
FROM "DT_node_lookup" LEFT OUTER JOIN "DT_node_data" ON "DT_node_lookup".node_id_2 = "DT_node_data".node_id),
"RF_Tree_0_0" AS
(SELECT "DT_Output"."KEY" AS join_key_0_0, "DT_Output"."Estimator" AS "Estimator_0_0"
FROM "DT_Output"),
"DT_node_lookup_1" AS
(SELECT "ADS_pca_6_OUT"."KEY" AS "KEY", CASE WHEN ("ADS_pca_6_OUT".pca_4comps_output_2 <= 0.4824292063713074) THEN CASE WHEN ("ADS_pca_6_OUT".pca_4comps_output_3 <= 0.1443094164133072) THEN CASE WHEN ("ADS_pca_6_OUT".pca_4comps_output_2 <= -0.6178238987922668) THEN 3 ELSE 4 END ELSE CASE WHEN ("ADS_pca_6_OUT".pca_4comps_output_2 <= -0.1961124837398529) THEN 6 ELSE 7 END END ELSE 8 END AS node_id_2
FROM "ADS_pca_6_OUT"),
"DT_node_data_1" AS
(SELECT "Values".node_id AS node_id, "Values".feature AS feature, "Values".threshold AS threshold, "Values".count AS count, "Values".depth AS depth, "Values".parent_id AS parent_id, "Values"."Estimator" AS "Estimator"
FROM (SELECT 0 AS node_id, 'pca_4comps_output_2' AS feature, 0.4824292063713074 AS threshold, 150 AS count, 0 AS depth, CAST(NULL AS INTEGER) AS parent_id, 0.00035651168661645266 AS "Estimator" UNION ALL SELECT 1 AS node_id, 'pca_4comps_output_3' AS feature, 0.1443094164133072 AS threshold, 101 AS count, 1 AS depth, CAST(NULL AS INTEGER) AS parent_id, 0.1511311054672251 AS "Estimator" UNION ALL SELECT 2 AS node_id, 'pca_4comps_output_2' AS feature, -0.6178238987922668 AS threshold, 54 AS count, 2 AS depth, CAST(NULL AS INTEGER) AS parent_id, 0.3785953500395856 AS "Estimator" UNION ALL SELECT 3 AS node_id, CAST(NULL AS VARCHAR(256)) AS feature, CAST(NULL AS FLOAT) AS threshold, 26 AS count, 3 AS depth, CAST(NULL AS INTEGER) AS parent_id, 0.3463677023519576 AS "Estimator" UNION ALL SELECT 4 AS node_id, CAST(NULL AS VARCHAR(256)) AS feature, CAST(NULL AS FLOAT) AS threshold, 28 AS count, 3 AS depth, CAST(NULL AS INTEGER) AS parent_id, 1.838051613219892 AS "Estimator" UNION ALL SELECT 5 AS node_id, 'pca_4comps_output_2' AS feature, -0.1961124837398529 AS threshold, 47 AS count, 2 AS depth, CAST(NULL AS INTEGER) AS parent_id, -0.11021079255208327 AS "Estimator" UNION ALL SELECT 6 AS node_id, CAST(NULL AS VARCHAR(256)) AS feature, CAST(NULL AS FLOAT) AS threshold, 43 AS count, 3 AS depth, CAST(NULL AS INTEGER) AS parent_id, -0.5358975011316298 AS "Estimator" UNION ALL SELECT 7 AS node_id, CAST(NULL AS VARCHAR(256)) AS feature, CAST(NULL AS FLOAT) AS threshold, 4 AS count, 3 AS depth, CAST(NULL AS INTEGER) AS parent_id, 1.9365582786906392 AS "Estimator" UNION ALL SELECT 8 AS node_id, CAST(NULL AS VARCHAR(256)) AS feature, CAST(NULL AS FLOAT) AS threshold, 49 AS count, 1 AS depth, CAST(NULL AS INTEGER) AS parent_id, -0.9667773351250147 AS "Estimator") AS "Values"),
"DT_Output_1" AS
(SELECT "DT_node_lookup_1"."KEY" AS "KEY", "DT_node_lookup_1".node_id_2 AS node_id_2, "DT_node_data_1".node_id AS node_id, "DT_node_data_1".feature AS feature, "DT_node_data_1".threshold AS threshold, "DT_node_data_1".count AS count, "DT_node_data_1".depth AS depth, "DT_node_data_1".parent_id AS parent_id, "DT_node_data_1"."Estimator" AS "Estimator"
FROM "DT_node_lookup_1" LEFT OUTER JOIN "DT_node_data_1" ON "DT_node_lookup_1".node_id_2 = "DT_node_data_1".node_id),
"RF_Tree_0_1" AS
(SELECT "DT_Output_1"."KEY" AS join_key_0_1, "DT_Output_1"."Estimator" AS "Estimator_0_1"
FROM "DT_Output_1"),
"DT_node_lookup_2" AS
(SELECT "ADS_pca_6_OUT"."KEY" AS "KEY", CASE WHEN ("ADS_pca_6_OUT".pca_4comps_output_2 <= -0.679976761341095) THEN CASE WHEN ("ADS_pca_6_OUT".pca_4comps_output_3 <= -0.4558808207511902) THEN CASE WHEN ("ADS_pca_6_OUT".pca_4comps_output_4 <= 0.17407992482185364) THEN 3 ELSE 4 END ELSE CASE WHEN ("ADS_pca_6_OUT".pca_4comps_output_3 <= 0.1462516337633133) THEN 6 ELSE 7 END END ELSE CASE WHEN ("ADS_pca_6_OUT".pca_4comps_output_4 <= 0.1800115704536438) THEN CASE WHEN ("ADS_pca_6_OUT".pca_4comps_output_3 <= 1.9675517082214355) THEN 10 ELSE 11 END ELSE CASE WHEN ("ADS_pca_6_OUT".pca_4comps_output_2 <= -0.18666619062423706) THEN 13 ELSE 14 END END END AS node_id_2
FROM "ADS_pca_6_OUT"),
"DT_node_data_2" AS
(SELECT "Values".node_id AS node_id, "Values".feature AS feature, "Values".threshold AS threshold, "Values".count AS count, "Values".depth AS depth, "Values".parent_id AS parent_id, "Values"."Estimator" AS "Estimator"
FROM (SELECT 0 AS node_id, 'pca_4comps_output_2' AS feature, -0.679976761341095 AS threshold, 150 AS count, 0 AS depth, CAST(NULL AS INTEGER) AS parent_id, 0.0010562774898447503 AS "Estimator" UNION ALL SELECT 1 AS node_id, 'pca_4comps_output_3' AS feature, -0.4558808207511902 AS threshold, 44 AS count, 1 AS depth, CAST(NULL AS INTEGER) AS parent_id, 0.42738882084746144 AS "Estimator" UNION ALL SELECT 2 AS node_id, 'pca_4comps_output_4' AS feature, 0.17407992482185364 AS threshold, 9 AS count, 2 AS depth, CAST(NULL AS INTEGER) AS parent_id, -0.1179044582108525 AS "Estimator" UNION ALL SELECT 3 AS node_id, CAST(NULL AS VARCHAR(256)) AS feature, CAST(NULL AS FLOAT) AS threshold, 8 AS count, 3 AS depth, CAST(NULL AS INTEGER) AS parent_id, -0.6390013081196498 AS "Estimator" UNION ALL SELECT 4 AS node_id, CAST(NULL AS VARCHAR(256)) AS feature, CAST(NULL AS FLOAT) AS threshold, 1 AS count, 3 AS depth, CAST(NULL AS INTEGER) AS parent_id, 1.960054018161165 AS "Estimator" UNION ALL SELECT 5 AS node_id, 'pca_4comps_output_3' AS feature, 0.1462516337633133 AS threshold, 35 AS count, 2 AS depth, CAST(NULL AS INTEGER) AS parent_id, 0.5676070926053137 AS "Estimator" UNION ALL SELECT 6 AS node_id, CAST(NULL AS VARCHAR(256)) AS feature, CAST(NULL AS FLOAT) AS threshold, 13 AS count, 3 AS depth, CAST(NULL AS INTEGER) AS parent_id, 1.2745888771640264 AS "Estimator" UNION ALL SELECT 7 AS node_id, CAST(NULL AS VARCHAR(256)) AS feature, CAST(NULL AS FLOAT) AS threshold, 22 AS count, 3 AS depth, CAST(NULL AS INTEGER) AS parent_id, 1.9017721921279367 AS "Estimator" UNION ALL SELECT 8 AS node_id, 'pca_4comps_output_4' AS feature, 0.1800115704536438 AS threshold, 106 AS count, 1 AS depth, CAST(NULL AS INTEGER) AS parent_id, -0.1759119480548268 AS "Estimator" UNION ALL SELECT 9 AS node_id, 'pca_4comps_output_3' AS feature, 1.9675517082214355 AS threshold, 88 AS count, 2 AS depth, CAST(NULL AS INTEGER) AS parent_id, -0.2787992602904113 AS "Estimator" UNION ALL SELECT 10 AS node_id, CAST(NULL AS VARCHAR(256)) AS feature, CAST(NULL AS FLOAT) AS threshold, 86 AS count, 3 AS depth, CAST(NULL AS INTEGER) AS parent_id, -0.915279481566999 AS "Estimator" UNION ALL SELECT 11 AS node_id, CAST(NULL AS VARCHAR(256)) AS feature, CAST(NULL AS FLOAT) AS threshold, 2 AS count, 3 AS depth, CAST(NULL AS INTEGER) AS parent_id, 1.9017721921279374 AS "Estimator" UNION ALL SELECT 12 AS node_id, 'pca_4comps_output_2' AS feature, -0.18666619062423706 AS threshold, 18 AS count, 2 AS depth, CAST(NULL AS INTEGER) AS parent_id, 0.3270926895413655 AS "Estimator" UNION ALL SELECT 13 AS node_id, CAST(NULL AS VARCHAR(256)) AS feature, CAST(NULL AS FLOAT) AS threshold, 13 AS count, 3 AS depth, CAST(NULL AS INTEGER) AS parent_id, 1.6967488725236313 AS "Estimator" UNION ALL SELECT 14 AS node_id, CAST(NULL AS VARCHAR(256)) AS feature, CAST(NULL AS FLOAT) AS threshold, 5 AS count, 3 AS depth, CAST(NULL AS INTEGER) AS parent_id, -0.9817477403845429 AS "Estimator") AS "Values"),
"DT_Output_2" AS
(SELECT "DT_node_lookup_2"."KEY" AS "KEY", "DT_node_lookup_2".node_id_2 AS node_id_2, "DT_node_data_2".node_id AS node_id, "DT_node_data_2".feature AS feature, "DT_node_data_2".threshold AS threshold, "DT_node_data_2".count AS count, "DT_node_data_2".depth AS depth, "DT_node_data_2".parent_id AS parent_id, "DT_node_data_2"."Estimator" AS "Estimator"
FROM "DT_node_lookup_2" LEFT OUTER JOIN "DT_node_data_2" ON "DT_node_lookup_2".node_id_2 = "DT_node_data_2".node_id),
"RF_Tree_0_2" AS
(SELECT "DT_Output_2"."KEY" AS join_key_0_2, "DT_Output_2"."Estimator" AS "Estimator_0_2"
FROM "DT_Output_2"),
"RF_Join_CTE_0" AS
(SELECT "RF_Tree_0_0".join_key_0_0 AS join_key_0_0, "RF_Tree_0_0"."Estimator_0_0" AS "Estimator_0_0", "RF_Tree_0_1".join_key_0_1 AS join_key_0_1, "RF_Tree_0_1"."Estimator_0_1" AS "Estimator_0_1", "RF_Tree_0_2".join_key_0_2 AS join_key_0_2, "RF_Tree_0_2"."Estimator_0_2" AS "Estimator_0_2"
FROM "RF_Tree_0_0" LEFT OUTER JOIN "RF_Tree_0_1" ON "RF_Tree_0_0".join_key_0_0 = "RF_Tree_0_1".join_key_0_1 LEFT OUTER JOIN "RF_Tree_0_2" ON "RF_Tree_0_2".join_key_0_2 = "RF_Tree_0_1".join_key_0_1),
"DT_node_lookup_3" AS
(SELECT "ADS_pca_6_OUT"."KEY" AS "KEY", CASE WHEN ("ADS_pca_6_OUT".pca_4comps_output_2 <= 0.005520036444067955) THEN CASE WHEN ("ADS_pca_6_OUT".pca_4comps_output_4 <= -0.11648331582546234) THEN CASE WHEN ("ADS_pca_6_OUT".pca_4comps_output_5 <= 0.04128652811050415) THEN 3 ELSE 4 END ELSE CASE WHEN ("ADS_pca_6_OUT".pca_4comps_output_3 <= -0.8562636375427246) THEN 6 ELSE 7 END END ELSE CASE WHEN ("ADS_pca_6_OUT".pca_4comps_output_4 <= 0.22216105461120605) THEN CASE WHEN ("ADS_pca_6_OUT".pca_4comps_output_5 <= -0.13445144891738892) THEN 10 ELSE 11 END ELSE 12 END END AS node_id_2
FROM "ADS_pca_6_OUT"),
"DT_node_data_3" AS
(SELECT "Values".node_id AS node_id, "Values".feature AS feature, "Values".threshold AS threshold, "Values".count AS count, "Values".depth AS depth, "Values".parent_id AS parent_id, "Values"."Estimator" AS "Estimator"
FROM (SELECT 0 AS node_id, 'pca_4comps_output_2' AS feature, 0.005520036444067955 AS threshold, 150 AS count, 0 AS depth, CAST(NULL AS INTEGER) AS parent_id, -0.0010728484615650613 AS "Estimator" UNION ALL SELECT 1 AS node_id, 'pca_4comps_output_4' AS feature, -0.11648331582546234 AS threshold, 99 AS count, 1 AS depth, CAST(NULL AS INTEGER) AS parent_id, -0.30120537754117643 AS "Estimator" UNION ALL SELECT 2 AS node_id, 'pca_4comps_output_5' AS feature, 0.04128652811050415 AS threshold, 31 AS count, 2 AS depth, CAST(NULL AS INTEGER) AS parent_id, -0.3070892095612294 AS "Estimator" UNION ALL SELECT 3 AS node_id, CAST(NULL AS VARCHAR(256)) AS feature, CAST(NULL AS FLOAT) AS threshold, 22 AS count, 3 AS depth, CAST(NULL AS INTEGER) AS parent_id, -0.9690708011845021 AS "Estimator" UNION ALL SELECT 4 AS node_id, CAST(NULL AS VARCHAR(256)) AS feature, CAST(NULL AS FLOAT) AS threshold, 9 AS count, 3 AS depth, CAST(NULL AS INTEGER) AS parent_id, -0.9473621014270752 AS "Estimator" UNION ALL SELECT 5 AS node_id, 'pca_4comps_output_3' AS feature, -0.8562636375427246 AS threshold, 68 AS count, 2 AS depth, CAST(NULL AS INTEGER) AS parent_id, -0.29852304235556437 AS "Estimator" UNION ALL SELECT 6 AS node_id, CAST(NULL AS VARCHAR(256)) AS feature, CAST(NULL AS FLOAT) AS threshold, 9 AS count, 3 AS depth, CAST(NULL AS INTEGER) AS parent_id, -0.9601797595520577 AS "Estimator" UNION ALL SELECT 7 AS node_id, CAST(NULL AS VARCHAR(256)) AS feature, CAST(NULL AS FLOAT) AS threshold, 59 AS count, 3 AS depth, CAST(NULL AS INTEGER) AS parent_id, -0.9491643130185838 AS "Estimator" UNION ALL SELECT 8 AS node_id, 'pca_4comps_output_4' AS feature, 0.22216105461120605 AS threshold, 51 AS count, 1 AS depth, CAST(NULL AS INTEGER) AS parent_id, 0.5815373550459159 AS "Estimator" UNION ALL SELECT 9 AS node_id, 'pca_4comps_output_5' AS feature, -0.13445144891738892 AS threshold, 50 AS count, 2 AS depth, CAST(NULL AS INTEGER) AS parent_id, 0.5991504856942133 AS "Estimator" UNION ALL SELECT 10 AS node_id, CAST(NULL AS VARCHAR(256)) AS feature, CAST(NULL AS FLOAT) AS threshold, 1 AS count, 3 AS depth, CAST(NULL AS INTEGER) AS parent_id, 1.8207044835470025 AS "Estimator" UNION ALL SELECT 11 AS node_id, CAST(NULL AS VARCHAR(256)) AS feature, CAST(NULL AS FLOAT) AS threshold, 49 AS count, 3 AS depth, CAST(NULL AS INTEGER) AS parent_id, 1.6602023777818735 AS "Estimator" UNION ALL SELECT 12 AS node_id, CAST(NULL AS VARCHAR(256)) AS feature, CAST(NULL AS FLOAT) AS threshold, 1 AS count, 2 AS depth, CAST(NULL AS INTEGER) AS parent_id, -0.9511840603143531 AS "Estimator") AS "Values"),
"DT_Output_3" AS
(SELECT "DT_node_lookup_3"."KEY" AS "KEY", "DT_node_lookup_3".node_id_2 AS node_id_2, "DT_node_data_3".node_id AS node_id, "DT_node_data_3".feature AS feature, "DT_node_data_3".threshold AS threshold, "DT_node_data_3".count AS count, "DT_node_data_3".depth AS depth, "DT_node_data_3".parent_id AS parent_id, "DT_node_data_3"."Estimator" AS "Estimator"
FROM "DT_node_lookup_3" LEFT OUTER JOIN "DT_node_data_3" ON "DT_node_lookup_3".node_id_2 = "DT_node_data_3".node_id),
"RF_Tree_1_0" AS
(SELECT "DT_Output_3"."KEY" AS join_key_1_0, "DT_Output_3"."Estimator" AS "Estimator_1_0"
FROM "DT_Output_3"),
"DT_node_lookup_4" AS
(SELECT "ADS_pca_6_OUT"."KEY" AS "KEY", CASE WHEN ("ADS_pca_6_OUT".pca_4comps_output_2 <= 0.4824292063713074) THEN CASE WHEN ("ADS_pca_6_OUT".pca_4comps_output_3 <= 0.1443094164133072) THEN CASE WHEN ("ADS_pca_6_OUT".pca_4comps_output_2 <= -0.6178238987922668) THEN 3 ELSE 4 END ELSE CASE WHEN ("ADS_pca_6_OUT".pca_4comps_output_2 <= -0.1961124837398529) THEN 6 ELSE 7 END END ELSE 8 END AS node_id_2
FROM "ADS_pca_6_OUT"),
"DT_node_data_4" AS
(SELECT "Values".node_id AS node_id, "Values".feature AS feature, "Values".threshold AS threshold, "Values".count AS count, "Values".depth AS depth, "Values".parent_id AS parent_id, "Values"."Estimator" AS "Estimator"

## Execute the SQL Code

In [7]:
# save the dataset in a database table

#engine = sa.create_engine('sqlite://' , echo=False)
engine = sa.create_engine("postgresql://db:db@localhost/db?port=5432", echo=False)
conn = engine.connect()

lTable = pd.DataFrame(X);
lTable.columns = ['Feature_0', 'Feature_1', 'Feature_2', 'Feature_3']
lTable['KEY'] = range(lTable.shape[0])
lTable.to_sql("INPUT_DATA" , conn,   if_exists='replace', index=False)

In [8]:
sql_output = pd.read_sql(lSQL , conn);
sql_output = sql_output.sort_values(by='KEY').reset_index(drop=True)

In [9]:
sql_output.sample(12, random_state=1960)

,KEY,Score_0,Score_1,Score_2,Proba_0,Proba_1,Proba_2,LogProba_0,LogProba_1,LogProba_2,Decision
114,114,-5.847731,-2.386357,5.636589,0.000010,0.000328,0.999662,-11.484658,-8.023285,-0.000338,2
74,74,-5.949027,4.889878,-4.534741,0.000020,0.999900,0.000081,-10.839005,-0.000100,-9.424720,1
9,9,7.360130,-0.304061,-3.975415,0.999519,0.000469,0.000012,-0.000481,-7.664672,-11.336026,0
88,88,-5.896455,3.123427,-3.313537,0.000121,0.998281,0.001599,-9.021603,-0.001721,-6.438685,1
25,25,7.360130,-0.864936,-3.975415,0.999720,0.000268,0.000012,-0.000280,-8.225346,-11.335825,0
5,5,7.300883,-1.060926,-4.427003,0.999758,0.000234,0.000008,-0.000242,-8.362051,-11.728128,0
48,48,7.300883,-0.833054,-4.669319,0.999700,0.000293,0.000006,-0.000300,-8.134236,-11.970501,0
117,117,-5.883144,-1.628549,4.584161,0.000028,0.002000,0.997972,-10.469335,-6.214740,-0.002030,2
83,83,-5.864954,2.933755,-1.269846,0.000149,0.985132,0.014720,-8.813688,-0.014980,-4.218580,1
105,105,-5.873120,-3.348146,3.728675,0.000068,0.000844,0.999089,-9.602706,-7.077733,-0.000912,2
27,27,7.300883,-1.025805,-4.038679,0.999746,0.000242,0.000012,-0.000254,-8.326942,-11.339816,0
64,64,-5.901081,2.564793,-3.927885,0.000210,0.998278,0.001512,-8.467598,-0.001724,-6.494401,1

In [10]:
sql_output.Decision.value_counts()

2    50
1    50
0    50
Name: Decision, dtype: int64

## Scikit-learn Prediction

In [11]:
skl_outputs = pd.DataFrame()
skl_output_key = pd.DataFrame(list(range(X.shape[0])), columns=['KEY']);
skl_output_score = pd.DataFrame(columns=['Score_0', 'Score_1', 'Score_2']);
skl_output_proba = pd.DataFrame(clf.predict_proba(X), columns=['Proba_0', 'Proba_1', 'Proba_2'])
skl_output_log_proba = pd.DataFrame(clf.predict_log_proba(X), columns=['LogProba_0', 'LogProba_1', 'LogProba_2'])
skl_output_decision = pd.DataFrame(clf.predict(X), columns=['Decision'])
skl_output = pd.concat([skl_output_key, skl_output_score, skl_output_proba, skl_output_log_proba, skl_output_decision] , axis=1)
skl_output.sample(12, random_state=1960)

,KEY,Score_0,Score_1,Score_2,Proba_0,Proba_1,Proba_2,LogProba_0,LogProba_1,LogProba_2,Decision
114,114,NaN,NaN,NaN,0.000010,0.000328,0.999662,-11.484658,-8.023285,-0.000338,2
74,74,NaN,NaN,NaN,0.000020,0.999900,0.000081,-10.839005,-0.000100,-9.424720,1
9,9,NaN,NaN,NaN,0.999519,0.000469,0.000012,-0.000481,-7.664672,-11.336026,0
88,88,NaN,NaN,NaN,0.000121,0.998281,0.001599,-9.021603,-0.001721,-6.438685,1
25,25,NaN,NaN,NaN,0.999720,0.000268,0.000012,-0.000280,-8.225346,-11.335825,0
5,5,NaN,NaN,NaN,0.999758,0.000234,0.000008,-0.000242,-8.362051,-11.728128,0
48,48,NaN,NaN,NaN,0.999700,0.000293,0.000006,-0.000300,-8.134236,-11.970501,0
117,117,NaN,NaN,NaN,0.000028,0.002000,0.997972,-10.469335,-6.214740,-0.002030,2
83,83,NaN,NaN,NaN,0.000149,0.985132,0.014720,-8.813688,-0.014980,-4.218580,1
105,105,NaN,NaN,NaN,0.000068,0.000844,0.999089,-9.602706,-7.077733,-0.000912,2
27,27,NaN,NaN,NaN,0.999746,0.000242,0.000012,-0.000254,-8.326942,-11.339816,0
64,64,NaN,NaN,NaN,0.000210,0.998278,0.001512,-8.467598,-0.001724,-6.494401,1

## Comparing the SQL and Scikit-learn Predictions

In [12]:
sql_skl_join = skl_output.join(sql_output , how='left', on='KEY', lsuffix='_skl', rsuffix='_sql')

In [13]:
sql_skl_join.sample(12, random_state=1960)

,KEY_skl,Score_0_skl,Score_1_skl,Score_2_skl,Proba_0_skl,Proba_1_skl,Proba_2_skl,LogProba_0_skl,LogProba_1_skl,LogProba_2_skl,...,Score_0_sql,Score_1_sql,Score_2_sql,Proba_0_sql,Proba_1_sql,Proba_2_sql,LogProba_0_sql,LogProba_1_sql,LogProba_2_sql,Decision_sql
114,114,NaN,NaN,NaN,0.000010,0.000328,0.999662,-11.484658,-8.023285,-0.000338,...,-5.847731,-2.386357,5.636589,0.000010,0.000328,0.999662,-11.484658,-8.023285,-0.000338,2
74,74,NaN,NaN,NaN,0.000020,0.999900,0.000081,-10.839005,-0.000100,-9.424720,...,-5.949027,4.889878,-4.534741,0.000020,0.999900,0.000081,-10.839005,-0.000100,-9.424720,1
9,9,NaN,NaN,NaN,0.999519,0.000469,0.000012,-0.000481,-7.664672,-11.336026,...,7.360130,-0.304061,-3.975415,0.999519,0.000469,0.000012,-0.000481,-7.664672,-11.336026,0
88,88,NaN,NaN,NaN,0.000121,0.998281,0.001599,-9.021603,-0.001721,-6.438685,...,-5.896455,3.123427,-3.313537,0.000121,0.998281,0.001599,-9.021603,-0.001721,-6.438685,1
25,25,NaN,NaN,NaN,0.999720,0.000268,0.000012,-0.000280,-8.225346,-11.335825,...,7.360130,-0.864936,-3.975415,0.999720,0.000268,0.000012,-0.000280,-8.225346,-11.335825,0
5,5,NaN,NaN,NaN,0.999758,0.000234,0.000008,-0.000242,-8.362051,-11.728128,...,7.300883,-1.060926,-4.427003,0.999758,0.000234,0.000008,-0.000242,-8.362051,-11.728128,0
48,48,NaN,NaN,NaN,0.999700,0.000293,0.000006,-0.000300,-8.134236,-11.970501,...,7.300883,-0.833054,-4.669319,0.999700,0.000293,0.000006,-0.000300,-8.134236,-11.970501,0
117,117,NaN,NaN,NaN,0.000028,0.002000,0.997972,-10.469335,-6.214740,-0.002030,...,-5.883144,-1.628549,4.584161,0.000028,0.002000,0.997972,-10.469335,-6.214740,-0.002030,2
83,83,NaN,NaN,NaN,0.000149,0.985132,0.014720,-8.813688,-0.014980,-4.218580,...,-5.864954,2.933755,-1.269846,0.000149,0.985132,0.014720,-8.813688,-0.014980,-4.218580,1
105,105,NaN,NaN,NaN,0.000068,0.000844,0.999089,-9.602706,-7.077733,-0.000912,...,-5.873120,-3.348146,3.728675,0.000068,0.000844,0.999089,-9.602706,-7.077733,-0.000912,2
27,27,NaN,NaN,NaN,0.999746,0.000242,0.000012,-0.000254,-8.326942,-11.339816,...,7.300883,-1.025805,-4.038679,0.999746,0.000242,0.000012,-0.000254,-8.326942,-11.339816,0
64,64,NaN,NaN,NaN,0.000210,0.998278,0.001512,-8.467598,-0.001724,-6.494401,...,-5.901081,2.564793,-3.927885,0.000210,0.998278,0.001512,-8.467598,-0.001724,-6.494401,1

In [14]:
condition = (sql_skl_join.Decision_sql != sql_skl_join.Decision_skl)
sql_skl_join[condition]

Empty DataFrame
Columns: [KEY_skl, Score_0_skl, Score_1_skl, Score_2_skl, Proba_0_skl, Proba_1_skl, Proba_2_skl, LogProba_0_skl, LogProba_1_skl, LogProba_2_skl, Decision_skl, KEY_sql, Score_0_sql, Score_1_sql, Score_2_sql, Proba_0_sql, Proba_1_sql, Proba_2_sql, LogProba_0_sql, LogProba_1_sql, LogProba_2_sql, Decision_sql]
Index: []

[0 rows x 22 columns]